<div class="user-signup">
    <div class="navbar">
        <div class="mid-container"><div class="title">{{title}}</div></div>
        <a class="left-menu" href="/"><i class="icon-left-open"></i> {{backBtn}}</a>
    </div>
    <div class="main-container">
        <div id="verification-page-1" class="row">
            {{!-- Message --}}
            <div class="twelve columns">
                <div class="field text-left">
                    <div class="space"></div>
                    <div class="text-center">{{afterSignup.verifyInfoMsg}}</div>
                </div>
            </div>
            {{!-- First Name --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.firstName}}</div>
                    <input id="firstName" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Last Name --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.lastName}}</div>
                    <input id="lastName" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- E-Mail --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.email}}</div>
                    <input id="email" class="input" type="email" autocapitalize="none" placeholder="User email" />
                </div>
            </div>
            {{!-- Home Phone --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.homePhone}}</div>
                    <input id="homePhone" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Mobile Phone --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.mobilePhone}}</div>
                    <input id="mobilePhone" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Work Phone --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.workPhone}}</div>
                    <input id="workPhone" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Address Line 1 --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.addressLine1}}</div>
                    <input id="addressLine1" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Address Line 2 --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.addressLine2}}</div>
                    <input id="addressLine2" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- City --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.city}}</div>
                    <input id="city" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- State --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.state}}</div>
                    <input id="state" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Zip --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="label">{{afterSignup.zip}}</div>
                    <input id="zip" class="input" type="text" placeholder="" />
                </div>
            </div>
            {{!-- Next Button --}}
            <div class="twelve columns">
                <div class="field text-center">
                    <div class="small-buttons-container right">
                        <div id="nextBtn" class="p2 btn next-btn">{{nextBtn}}</div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>