    <div class="navbar">
    <div class="mid-menu">
        <div class="title">Update Event</div>
    </div>
    <div id="backBtn" class="left-menu text">{{event.cancel}}</div>
    <div id="doneBtn" class="right-menu text">{{event.done}}</div>
</div>

<div id="create-new-event-view" class="innerview-container">
    <div class="create-menu-item">
        <div class="text">Invite</div>
        <div id="sendto" class="right-arrow">
            Select a group <i class="icon-right-open"></i>
        </div>
    </div>
    <!--div class="create-menu-item">
        <div class="text">{{event.title}}</div>
        <div class="right-arrow">
            <div id="title-field" class="field">
                <input id="title" class="input text-field" type="text" placeholder="Type here..." />
            </div>
        </div>
    </div-->
    <div class="create-menu-item" style="width:100%;">
        <div class="text" style="width:100%;">
            <div id="title-field" class="field">
                <input id="title" class="input text-title" type="text" placeholder="{{event.title}}" style="text-align:left;"/>
            </div>
        </div>
    </div>
    <!--div class="create-menu-item">
        <div class="text">{{event.location}}</div>
        <div class="right-arrow">
            <div id="location-field" class="field">
                <input id="location" class="input text-field" type="text" placeholder="Type here..." />
            </div>
        </div>
    </div-->
    <div class="create-menu-item" style="width:100%;">
        <div class="text" style="width:100%;">
            <div id="location-field" class="field">
                <input id="location" class="input text-title" type="text" placeholder="{{event.location}}" style="text-align:left;"/>
            </div>
        </div>
    </div>
    <div class="create-menu-item">
        <div class="text">{{event.allDay}}</div>
        <div id="allDayToggleSwitch" class="toggle-switch">
            <div id="allDayToggle" class="toggle">
                <input id="allDay" type="checkbox" name="toggle9" class="toggle9">
            </div>
        </div>
    </div>
    <div id="start-wrapper" class="create-menu-item">
        <div class="text">{{event.start}}</div>
        {{#if event.isMobile}}
        <div id="start" class="right-text">Touch ...</div>
        {{else}}
        <div class="right-arrow" style="width:80%;">
            <div id="start-date-field" class="field">
                <input id="start" class="input text-field" type="text" placeholder="MM/DD/YY" />
                <i class="icon-calendar"></i>
                <input id="start-time" class="input text-field" type="text" placeholder="hh:mm:am" />
                <i class="icon-clock"></i>
            </div>
        </div>
        {{/if}}
    </div>
    <div id="end-wrapper" class="create-menu-item">
        <div class="text">{{event.end}}</div>
        {{#if event.isMobile}}
        <div id="end" class="right-text">Touch ...</div>
        {{else}}
        <div class="right-arrow" style="width:80%;">
            <div id="end-date-field" class="field">
                <input id="end" class="input text-field" type="text" placeholder="MM/DD/YY" />
                <i class="icon-calendar"></i>
                <input id="end-time" class="input text-field" type="text" placeholder="hh:mm:am" />
                <i class="icon-clock"></i>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="create-menu-item">
        <div class="text">{{event.repeat}}</div>
        <div id="repeat" class="right-text">Never</div>
    </div>
    <div id="until" class="create-menu-item hidden">
        <div class="text" style="position: relative; right: 0px;">Repeat Until</div>
        {{#if event.isMobile}}
        <div id="repeat-until" class="right-text">Touch ...</div>
        {{else}}
        <div class="right-arrow" style="width:80%;">
            <div id="repeat-until-field" class="field" style="width: 100%; padding-right: 10px;">
                <input id="repeat-until" class="input text-field" style="width: 22%; top: -2px;" type="text" placeholder="MM/DD/YY" />
                <i class="icon-calendar"></i>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="create-menu-item">
        <div class="text">{{event.reminder}}</div>
        <div id="reminder" class="right-text">
            <span class="reminder-val">Never</span>
        </div>
    </div>
    <div class="create-menu-item">
        <div class="text">{{event.reminder2}}</div>
        <div id="reminder2" class="right-text">
            <span class="reminder-val">Never</span>
        </div>
    </div>
    <div id="create-message-field" class="create-menu-item">
        <div id="message-field" class="field">
            <textarea id="note" class="input text-area" rows="3" placeholder="Note/Message"></textarea>
        </div>
    </div>
    <div id="cancel-event" class="create-menu-item" >
        <div class="text">Cancel Event</div>
    </div>

</div>

<div id="repeat-picker" class="time-picker hidden">
    <div class="bg"></div>
    <div class="box-wrapper">
        <div class="title-wrapper">Repeat</div>
        <div class="time-wrapper">
            <div class="time">
                <span>Never</span>
                <div class="checked"><i class="icon-fontello-ok"></i>
                </div>
            </div>
            <div class="time">
                <span>Every Day</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i>
                </div>
            </div>
            <div class="time">
                <span>Every Week</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i>
                </div>
            </div>
            <div class="time">
                <span>Every 2 Weeks</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i>
                </div>
            </div>
            <div class="time">
                <span>Every Month</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i>
                </div>
            </div>
            <div class="time" style="border-bottom: none;">
                <span>Every Year</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i>
                </div>
            </div>
        </div>
        <div class="bottom-menu">
            <div id="repeat-cancel" class="cancel">Cancel</div>
            <div id="repeat-ok" class="ok">OK</div>
        </div>
    </div>
</div>


<div id="remind-picker" class="time-picker hidden">
    <div class="bg"></div>
    <div class="box-wrapper">
        <div class="title-wrapper">Reminder</div>
        <div class="time-wrapper">
            <div id="remind-0" class="time">
                <span>Never</span>
                <div class="checked"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-1" class="time">
                <span>At Time of Event</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-2" class="time">
                <span>5 Minutes Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-3" class="time">
                <span>10 Minutes Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-4" class="time">
                <span>15 Minutes Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-5" class="time">
                <span>30 Minutes Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-6" class="time">
                <span>1 Hour Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-7" class="time">
                <span>2 Hours Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-8" class="time">
                <span>4 Hours Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-9" class="time">
                <span>1 Day Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-10" class="time">
                <span>2 Days Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
            <div id="remind-11" class="time" style="border-bottom: none;">
                <span>1 Week Before</span>
                <div class="checked hidden"><i class="icon-fontello-ok"></i></div>
            </div>
        </div>
        <!--
        <div class="bottom-menu">
            <div id="reminder-cancel" class="cancel">Cancel</div>
            <div id="reminder-ok" class="ok">OK</div>
        </div>
        -->
    </div>
</div>