<div class="row">
    <div class="twelve columns text-center">
        <div class="header-logo"></div>
    </div>
</div>
    {{!-- User Name Textfield --}}
<div class="row">
    <div class="twelve columns">
        <div class="field text-center">
            <input id="usernameForm" class="input" type="text" placeholder="{{signin.username}}" value="parent.silva@p2.com" autocorrect="off" autocapitalize="off" />
        </div>
    </div>
</div>
    {{!-- Password TextField --}}
<div class="row">
    <div class="twelve columns">
        <div class="field text-center">
            <input id="passwordForm" class="input" type="password" placeholder="{{signin.password}}" value="0000" autocorrect="off" autocapitalize="none" />
        </div>
    </div>
</div>
    {{!-- Remember Me Checkbox --}}
<div class="row">
    <div class="remember-me">
        <div class="checkbox text-right">
            <ul>
                <li class="field">
					<label class="checkbox checked" for="check1">
					   <input name="checkbox[]" id="rememberCheckbox" value="1" type="checkbox" checked="checked">
					   <span><i class="icon-check"></i></span> {{signin.rememberme}}
					</label>
                </li>
     		</ul>
        </div>
    </div>
</div>
{{!-- Connectivity alert --}}
<div id="connectivity-row" class="row" style="display:none">
    <div class="twelve columns">
        <div class="field text-center">
            <div id="connectivity-msg" class="btn" style="padding:0 20px !important; font-weight:normal !important;">
            Parent Planet requires Internet access for login and sign-up. Please try again when Internet is available.
            </div>
        </div>
    </div>
</div>
    {{!-- Login Button --}}
<div class="row">
    <div class="twelve columns">
        <div class="field text-center">
            <div id="loginBtn" class="p2 btn login">{{signin.login}}</div>
        </div>
    </div>
</div>

{{!-- Create New Account Button --}}
<div class="row">
    <div class="newaccount-btn-container">
        <div class="twelve columns">
            <div class="field text-center">
                <div id="signupBtn" class="p2 btn btn-outline">{{signin.newaccount}}</div>
            </div>
        </div>
    </div>
</div>
{{!-- Create Reset Password Button --}}
<div class="row">
    <div class="newaccount-btn-container">
        <div class="twelve columns">
            <div class="field text-center">
                <div id="resetpwdBtn" class="p2 btn btn-outline">{{signin.resetpwd}}</div>
            </div>
        </div>
    </div>
</div>
<div id="spinner" class="spinner-wrapper text-center"></div>
{{!-- 
<div id="color-picker">
    <div class="cp-bg"></di>
    <div class="cp-main">
        <div class="cp-title">Pick a color</div>
        <div class="cp-color-wrapper">
            <div class="cp-color" style="background:#00CCCC;"></div>
            <div class="cp-color" style="background:#66CCFF;"></div>
            <div class="cp-color" style="background:#0033FF;"></div>
            <div class="cp-color" style="background:#6600CC;"></div>
            <div class="cp-color" style="background:#CC66FF;"></div>
            <div class="cp-color" style="background:#FF99FF;"></div>
            <div class="cp-color" style="background:#FF00CC;"></div>
            <div class="cp-color" style="background:#FF0000;"></div>
            <div class="cp-color" style="background:#CC3300;"></div>
            <div class="cp-color" style="background:#FF6633;"></div>
            <div class="cp-color" style="background:#996633;"></div>
            <div class="cp-color" style="background:#66CC00;"></div>
            <div class="cp-color" style="background:#339900;"></div>
            <div class="cp-color" style="background:#FFCC00;"></div>
        </div>
    </div>
</div>
 --}}