<div class="navbar">
    <div class="mid-menu">
        <div class="title">{{index.viewTitle}}</div>
    </div>
    <div id="cancelBtn" class="left-menu text">{{index.cancel}}</div>
</div>

<div class="innerview-container">
    <div id="createEventMenu" class="create-menu-item pointer">
        <div class="text">{{index.event}}</div>
        <div class="right-arrow"><i class="icon-right-open"></i></div>
    </div>
    <div id="createMessageMenu" class="create-menu-item pointer">
        <div class="text">{{index.message}}</div>
        <div class="right-arrow"><i class="icon-right-open"></i></div>
    </div>
    <div id="createHomeworkMenu" class="create-menu-item pointer">
        <div class="text">{{index.homework}}</div>
        <div class="right-arrow"><i class="icon-right-open"></i></div>
    </div>
</div>
