<div class="navbar">
    <div class="mid-menu">
        <div class="title">Contacts</div>
    </div>
    <div id="backBtn" class="left-menu text">Back</div>
</div>
<div class="innerview-container">
    <div id="contacts-bar" class="title-bar"><div class="icon-wrapper" style="top: 5px; font-size: 24px;"><i class="p2-contact"></i></div>Contacts</div>
    <div id="contacts-content" class="content-wrapper">
        {{#if hasChildren}}
            {{#each children}}
            <div id="{{creatorParentId}}" class="content-item contact"  data-index="{{i}}">{{lastName}}, {{firstName}}</div>
            {{/each}}
        {{else}}
            <div style="text-align:center; padding:0 10px;">No children linked to this organization group.</div>
        {{/if}}
        <div id="spinner" class="spinner-wrapper text-center"></div>
    </div>
</div>
